{% extends 'base.html.twig' %}
{% use 'ClientesBundle:Cliente:form.html.twig' %}

{% block alert %}
    <h3>Nuevo Cliente</h3>
    {{  parent()  }}
{% endblock %}
{% block body %}
    {% block form %}
        {{  parent()  }}
        <button type="submit" class="btn btn-primary">Agregar</button>
        <a href="{{ path('home') }}" type="button" class="btn btn-secondary">Cancelar</a>
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}